<a href="/"><button>Home</button></a>
<a href="/admin"><button>Admin's Homepage</button></a>
<a href="/subject"><button>Add New Subject</button></a>
<a href="/addteacher"><button>Add New Teacher</button></a>
<a href="/email"><button>Send Email</button></a>
<a href="/logout"><button> Logout <%= admin %> </button></a>

