<a href="/"><button>Home</button></a>
<a href="/admin"><button>Admin's Homepage</button></a>
<a href="/subject"><button>Add Subject</button></a>

<a href="/logout"><button> Logout <%= student %> </button></a>
