<a href="/"><button>Home</button></a>
<a href="/admin"><button>Admin's Homepage</button></a>
<a href="/admin/addbatch"><button>Add New Batch</button></a>
<a href="/admin/adduser"><button>Add New User</button></a>
<a href="/admin/subject"><button>Add New Subject</button></a>
<a href="/admin/email"><button>Send Email</button></a>
<a href="/logout"><button> Logout <%= admin %> </button></a>

