<% include partials/bshead %>
<hr>
Registration
<body>
    <div style="margin: 20px;">
        <form action="/admin/register" method="POST" >
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <select name="role">
                <option selected value="student">Student's Registration</option>
                <option value="teacher">Teacher's Registration</option>
                <option value="admin">Admin's Registration</option>
            </select>
            <button>Register</button>
        </form>
        <br>
    </div>
    
</body>
<% include partials/bsfoot %>




