<a href="/"><h1><%= projectName %></h1></a>
Registration
<body>
    <div style="margin: 20px;">
        <form action="/register" method="POST" >
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <select name="role">
                <option selected value="student">Student's Registration</option>
                <option value="teacher">Teacher's Registration</option>
                <option value="admin">Admin's Registration</option>
            </select>
            <button>Register</button>
        </form>
        <br>
        <a href="/register">Registration</a>
        <hr>
        <a href="/student">Student's Area</a>
        <a href="/teacher">Teacher's Area</a>
        <a href="/admin">Admin's Area</a>
    </div>
    
</body>



