<a href="/"><button>Home</button></a>
<a href="/teacher"><button>Teacher's Homepage</button></a>
<a href="/teacher/post"><button>Post New Homework</button></a>
<a href="/teacher/homeworks"><button>View Homeworks</button></a>
<a href="/logout"><button> Logout <%= teacher %> </button></a>
