body
{
    margin: 0;
    padding: 0;
    background: url("C:/Users/RABIN/Desktop/std and ter/imgs/std_bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

/*comment:login box*/
.loginbox{
    width: 999px;
    height: 540px;
    background: indigo;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
   }

h1{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 32px;
}