<a href="/"><button>Home</button></a>
<a href="/student"><button>Student's Homepage</button></a>
<a href="/student/homeworks"><button>View Homeworks</button></a>

<a href="/logout"><button> Logout <%= student %> </button></a>
